* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 10px;
}

@-moz-document url-prefix() {
  .contact {
    margin-top: 15rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  padding-top: 8vh;
  overflow-x: hidden;
}

// navbar

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #555555;
  z-index: 999;
  font-size: 1.4rem;
}

.nav-logo {
  color: whitesmoke;
  position: fixed;
  left: 10%;
}

.nav-container {
  display: flex;
  width: 30%;
  justify-content: space-around;
  position: fixed;
  right: 0%;
  list-style-type: none;
}

.burger {
  display: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}
.nav-items {
  position: relative;
  display: inline-block;
}

.nav-link {
  font-size: 1.8rem;
}

.nav-link:before {
  content: "";
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.nav-link:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-items:active {
  background: none;
}

// Main site styling

.section-subtitle {
  font-size: 10rem;
  text-align: left;
  padding-left: 3rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

// Landing Page

.landing-page {
  font-family: "Rubik", sans-serif;
  height: 92vh;
  width: 100vw;
  display: flex;
}

.slick {
  display: flex;
  justify-content: flex-end;
  div {
    width: 60vw;

    img {
      max-height: 92vh;
      width: auto;
    }
  }
}

.caption-container {
  display: flex;
  flex-direction: column;
}

.caption {
  padding: 50px 0 100px 50px;
  max-width: 40%;
  text-align: center;

  h1 {
    font-size: 6.5rem;
    padding-bottom: 30px;
  }

  .caption-subtitle {
    font-size: 1.8rem;
    color: rgb(128, 128, 128);
    text-align: justify;
    padding-right: 2rem;
  }

  .caption-button {
    margin-top: 100px;
    padding: 25px 60px;
    border-radius: 4px;
    border: 2px solid rgb(38, 90, 202);
    background: none;
    font-size: 1.8rem;
    background: rgb(38, 90, 202);
    color: whitesmoke;
    transition: ease-in-out 200ms;
    cursor: pointer;

    &:hover {
      background: white;
      color: black;
      border: 2px solid rgb(38, 90, 202);
    }
  }
}

// About Us section

.about-us {
  padding-top: 6vh;

  margin: auto;
  height: 100vh;

  .image-container {
    display: flex;

    img {
      padding-right: 55px;
      height: 100%;
      max-width: auto;
    }
  }

  .mobile {
    display: none;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 60%;
    margin: 0 auto;
  }

  h1 {
    // font-size: 2.7rem;
    // text-align: center;
    padding-bottom: 5rem;
  }

  span {
    font-size: 1.7rem;
    text-align: justify;
    padding-top: 15px;
  }
  ul {
    text-align: justify;
    list-style: inside;
    li {
      font-size: 1.7rem;
    }
  }
}

// Projects section

.projects {
  height: 92vh;
  padding-top: 4rem;

  h1 {
    font-size: 2.7rem;
    text-align: center;
  }
}

.projects-grid {
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50%;
  grid-gap: 0;
  grid-auto-flow: dense;
  justify-items: center;

  p {
    padding: 150px;
  }
}

// Contact Us section

.contact {
  padding-top: 9vh;
  height: 100vh;
  background: #1d1d1d;

  color: rgb(107, 107, 107);

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: space-between;
    background: #1d1d1d;

    .contact-form {
      width: 50vw;
    }
  }

  h1 {
    padding-bottom: 5rem;
  }

  span {
    font-size: 1.7rem;
  }

  .fa-mobile-alt {
    padding-right: 10px;
    padding-left: 5px;
  }

  .contact-info {
    color: white;
    font-weight: 600;
    font-size: 1.7rem;
    padding-bottom: 5rem;
  }
}

.contact-information-container {
  display: flex;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  margin-top: 50px;
}

.form-caption {
  font-size: 2rem;
  padding-top: 25px;
  color: rgb(107, 107, 107);
}

.form-message {
  font-family: Arial, Helvetica, sans-serif;
}

.form-data {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid white;

  color: white;
  font-size: 2rem;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 30vw;

  .form-data:focus {
    color: white;
  }
}

.large {
  font-size: 3rem;
}

.submit-button {
  padding-top: 25px;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(107, 107, 107);
  font-size: 3.5rem;

  cursor: pointer;
  margin: 0 auto;
  width: 30vw;
  text-decoration: underline;
  text-decoration-color: rgb(107, 107, 107);
}

.submit-button:hover {
  color: white;
  text-decoration-color: white;
  transition: all 1s ease-in-out;
}

// --- Responsive Queries ---

// Scrollbar setting on desktop/tablets

@media only screen and (min-width: 501px) {
  body::-webkit-scrollbar {
    width: 0.35rem;
  }

  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }

  body::-webkit-scrollbar-thumb {
    background: #da2b6e;
  }
}

// Medium Monitor

@media only screen and (max-width: 1200px) {
  // Main Site Styling

  .section-subtitle {
    font-size: 8rem;
  }

  // NavBar Styling

  .nav-container {
    width: 40%;
  }

  // Landing Page Styling

  .landing-page {
    justify-content: space-between;
  }

  .caption {
    h1 {
      font-size: 4.5rem;
    }
  }
  .slick {
    div {
      width: 50vw;
    }
  }

  .slick-slider {
    left: 0 !important;
  }

  // About Us Section

  .about-us {
    h1 {
      padding-bottom: 3rem;
    }
    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
      width: 90%;
      margin: 0 20px;
    }

    .image-container {
      width: 95vw;
      img {
        width: 50%;
      }
    }

    .caption-subtitle {
      font-size: 1.55rem;

      li {
        font-size: 1.6rem;
      }
    }
  }

  // Contact Us
  .contact {
    .contact-container {
      flex-direction: column-reverse;

      .contact-form {
        width: 90vw;
      }

      .form-data {
        width: 90vw;
      }
      .button-container {
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;
      }
    }

    .contact-information-container {
      display: flex;
      justify-content: center;
    }

    .contact-information {
      text-align: justify;
      margin-top: 15px;
    }
  }
}

// Small Monitor

@media only screen and (max-width: 800px) {
  // Navbar styling
  .nav-container {
    width: 50%;
  }

  // Landing Page

  .landing-page {
    height: 100vh;
    flex-direction: column-reverse;
  }

  .caption {
    padding: 0;
    max-width: 100vw;
    display: block;

    h1 {
      font-size: 4rem;
    }
    .caption-subtitle {
      padding-left: 2rem;
    }

    .caption-button {
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }

  .slick {
    overflow-x: hidden;
    div {
      width: 100vw;

      img {
        max-height: 60vh;
        width: auto;
      }
    }
  }

  // About Us

  .about-us {
    height: 155vh;

    .content-container {
      padding: 0 0 0 35px;
    }

    .image-container {
      flex-direction: column;
      align-items: center;
      width: 90vw;

      img {
        height: 100%;
        max-width: auto;
      }

      .about-image {
        padding: 0 0 0 20px;
      }
    }

    .caption-container {
      justify-content: center;
      align-items: center;
    }

    span {
      font-size: 1.5rem;
    }
    .caption-subtitle {
      font-size: 1.8rem;
    }
  }
}

// Mobile View
@media only screen and (max-width: 500px) {
  html {
    overflow-x: hidden;
  }

  // Navbar

  nav {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    min-height: 10vh;
    background-color: #3d3d3d;
    font-size: 1rem;

    .nav-container {
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      top: 10vh;
      height: 100vh;
      width: 70%;
      background-color: rgb(241, 241, 241);
      padding-right: 3rem;
      transform: translateX(100%);
      transition: all 0.5s ease-in-out;
      -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.61);
      -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.61);
      box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.61);

      .nav-items {
        text-align: right;
        padding: 30px 0;
      }
      .nav-link {
        color: black;
        font-size: 2rem;
      }

      .nav-link:hover:before {
        transform: scaleX(0);
      }
    }

    .nav-active {
      transform: translateX(0%);
    }

    .toggle .line-1 {
      transform: rotate(-45deg) translate(-5px, 5px);
    }
    .toggle .line-2 {
      opacity: 0;
    }
    .toggle .line-3 {
      transform: rotate(45deg) translate(-5px, -5px);
    }
  }

  .burger {
    display: block;
    padding-right: 4rem;
  }

  .burger div {
    width: 20px;
    height: 2px;
    background: whitesmoke;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  // Main site

  .section-subtitle {
    text-align: center;
    font-size: 8rem;
    padding-left: 0;
  }

  // Landing Page

  .landing-page {
    height: 130vh;
    flex-direction: column-reverse;
  }

  .caption {
    padding: 0;
    max-width: 100vw;
    display: block;

    h1 {
      font-size: 4rem;
    }
    .caption-subtitle {
      padding-left: 2rem;
    }

    .caption-button {
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }

  .hero {
    height: 150vh;
  }

  .slick {
    overflow-x: hidden;
    div {
      width: 100vw;

      img {
        max-height: 50vh;
        width: auto;
      }
    }
  }

  .slick-slider {
    left: 0 !important;
  }

  // About Us

  .about-us {
    padding-top: 9vh;
    height: 240vh;

    h1 {
      padding-bottom: 5rem;
    }

    .content-container {
      margin: 0;
      padding: 0 15px;
    }

    .image-container {
      width: 90vw;

      img {
        width: 100%;
      }

      .about-image {
        padding: 0 0 0 10px;
      }
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
}
